/*
* Merlins Potions' Website
* Copyright 2017
* Last Update: 11/08/2017
*/
/* Table of Content
==================================================
-






-
-
-
*/


@import '../partials/variables'; // colors, fonts etc...

@import '../partials/layout'; // breakpoints and media queries

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');

html {
	font-size: 62.5%;
}

body {
    text-align: center;
    margin: 0!important;
    padding: 0!important;
	font: {
		size: 1.6rem;
		family: 'Oswald', sans-serif;
; 
	}
	color: $color-black;
    background-color: $color-white;
}

a {
	text-decoration: none;
}




/* Helping Classes */
.claerIt {
    clear: both;
}

header {
    background: $color-white;
    z-index: 90;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    
    .search {
        display: none;
    }
    
.navigation {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    z-index: 99;
    
    ul {
        background: $color-purple;
        width: 100%;
        padding: 0;
        
        
        li {
            list-style: none;
            color: $color-white;
            text-align: left;
            border-bottom: 1px solid #6a5483;
            width: 100%;
            height: 50px;
            font-family: $font-2;
            font-style: italic;
            padding: 2rem 0 0rem 4rem;
            font-size: 2rem;
        }
        
        li:hover {
            background: #412a56;
        }

        
    }  
    .logIn {
        margin-top: -25px;
        border-top: 1px solid #6a5483;
        background: $color-purple;
        font-family: $font-2;
        font-style: italic;
        font-size: 2rem;
        height: 50px;
        padding-bottom: 2rem;
        
        p {
            color: #6a5483;
            
            a {
                color: $color-white;
            }
        }
        
        
        
    }
}   
#mainNav {
    nav {
        height:0;
        overflow: hidden;
    }

    input[type=checkbox] {
        position: absolute;
        top:-999em;
        left: -999em;
    }

    input[type=checkbox]:checked ~nav {
        height: auto;
        overflow: visible;
    } 
    
    input[type=checkbox]:checked ~div.search {
        display: block;
        position: absolute;
        z-index: 99;
        top:0;
        right: 0;
        padding-right: 30px;
        padding-top: 30px;
        background: $color-white;
        width: 70%;
        height: 45px;
        text-align: right;
        
        input {
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            font-family: Arial;
            border: 1px solid $color-darkgray;
            width: 250px;
            border-radius: 5px;
            padding: 5px 10px;
            height: 40px;
            margin-top: -70px;
            font-size: 1.7rem;
            margin-bottom: 20px;
        }
        
    } 

    label.hamb {
        display: block;
        text-indent: -999em;
        cursor: pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        //top:-100px;
        //left: 90%;
        //width:40px;
        position: relative;
        float: left;
        text-align: center;
        display: inline;
        line-height: .6;
        width: 45px;
        height: 30px;
        margin: 20px;

        span {
            margin: 0;
            height: 6px;
            width: 45px;
            display: block;
            position: relative;
            background: $color-purple;
            border-radius: 15px;
            margin-bottom: 4px;
        }            
    }        
} /* END navigation rules */    
    
    .logo {
        float: left;        
        width: 225px;
        height: 100%;
        line-height: 1.1rem;
        
        .name {
            padding: 0;
            height: 30px;
            
            h2 {
                color: $color-red;
                font-weight: 100;
                font-size: 2.9rem;
                
                strong {
                    font-weight: 500;
                }
            }
        }
        
        .since {
            width: 100%;
            display: table;
            text-align: center;

            span {
                background: $color-purple;
                height: 1px;
                width: 20px;
                display: table-cell;
                margin: 5px 0 5px 15px;
                float: left;
            }
            
            p {
                color: #51366b;
                font-weight: 100;
                line-height: .1;
                font-style: italic;
                font-family: $font-2;
                display: table-cell;
            }
            span:last-of-type {
                float: right;
                margin: 5px 15px 5px 0;
            }
            
        }
     
        
    } 
    
    .banner {
        float: left;
        width: 100%;
        height: 40px;
        text-align: center;
        background: #ececec;
        color: $color-darkgray;
        font-family: $font-2;
        font-weight: 100;
        font-style: italic;
        display: table;
        top: 80px;
        vertical-align: top;
        position: absolute;
        
        p {
            font-size: 2rem;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            
        }
    }
    
    div.cart {
        display: table;
        text-align: left;
        background: black;
        width: 60px;
        color: #ececec;  
        float: right;
        
        div.icon {
            margin: 0 auto;
            text-align: center;
            background: rgba(red, 0.5);
            display: table-cell;
            height: 50px;
            width: 55px;
            position: absolute;
        }
        
            span {
                text-align: center;
                float: right;
                position: absolute;
                bottom: 0;
                color: #b5b3b6;
                margin: 0 3%;
                
            }   
    }
}

main.container {
    float: none;
    text-align: left;
    margin: 0 auto;
    max-width: 960px;
    min-width: 320px;
    display: inline-block;
    position: relative;
    padding-top: 140px;
    
    h3 {
        font-size: 1.2rem;
        text-align: center;
        font-family: $font-2;
        font-size: 3rem;
    }
    
    .inventory {
        text-align: center;
        
        ul {
            padding: 0;
            display: inline-block;

        }
        
        ul > li {
            display: inline-grid;
            list-style: none;

        }
        
        ul > li:nth-child(odd)  {
            //margin-left: 10px;
        }
        
        
        ul > li > img {
            width: 180px;
            
            @include MQ(M) {
                width: 300px;
            }
        }
    }
}

footer {
    background: #ccc;
    bottom: 0;
    width: 100%;
    margin: 0;    
    position: relative;
    padding: .5rem .5rem .5rem 0;
    height: 300px;
    
    p:last-of-type {
        font-family: Arial;
        color: $color-darkgray;
    }
    
    .newsletter {
        background: $color-white;
        margin: 20px;
        padding: 1rem 1.4rem 2.5rem 1.4rem;
        height: 100px;
        border-radius: 2px;
        
        p {
            font-family: $font-2;
            font-style: italic;
            text-align: left;
        }
        
        p:last-of-type {
            font-family: Arial;
            font-style: normal;
            font-weight: 100;
            font-size: 1.4rem;
        }
        
        input, button {
            float: left;
            font-family: $font-1;
        }
        
        input {
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            font-family: Arial;
            border: 1px solid $color-darkgray;
            margin-right: 15px;
            min-width: 200px;
            border-radius: 5px;
            padding: 3px 10px;
            line-height: 2rem;
            font-size: 1.2rem;
        }
        
        button {
            border: medium none;
            border-spacing: 0;
            font-weight: normal;
            line-height: 1.42rem;
            list-style: none outside none;
            margin: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;            
            
            background: #d43e0b;
            border-radius: 5px;
            color: $color-white;
            text-transform: uppercase;
            padding: 8px 20px;
            font-family: Arial;
            font-size: 1.4rem;
            
        }
        
        
    }
    
    p {
    }
    
    .social-media {
        
        position: relative;
        margin-top: 5rem;
        
        ul {
            list-style: none;
                text-align: center;
            padding: 0;
            
            li {
                display: inline;
                margin: auto 15px;
            }
            
            li img {
                width: 30px;
            }
       }
    }
    
}

//Javascript Lightox

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(black, 0.75);
}

.modal-content {
  position: relative;
  background-color: $color-white;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 960px;
}

.close {
  color: $color-black;
  top: 15px;
  right: 15px;
  font-size: 35px;
    float: right;
    height: 30px;
    width: 30px;
    
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
    padding-top: 40px;
    
    img {
        width:100%;
    }
}

.caption-container {
  text-align: center;
  background-color: $color-white;
  padding: 2px 16px;
  color: $color-black;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
    
    
    
    
