/*
* Merlins Potions' Website
* Copyright 2017
* Last Update: 11/08/2017
*/
/* Table of Content
==================================================
-






-
-
-
*/
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500");
@font-face {
  font-family: 'Droid Serif';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("droidSans.ttf") format("truetype"); }

/* line 27, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
html {
  font-size: 62.5%; }

/* line 31, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
body {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  background-color: #FFFFFF; }

/* line 44, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
a {
  text-decoration: none; }

/* Helping Classes */
/* line 52, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.claerIt {
  clear: both; }

/* line 56, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
header {
  background: #FFFFFF;
  z-index: 90;
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  /* END navigation rules */ }
  /* line 64, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header .search {
    display: none; }
  /* line 68, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header .navigation {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    z-index: 99; }
    /* line 74, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header .navigation ul {
      background: #523468;
      width: 100%;
      padding: 0; }
      /* line 80, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      header .navigation ul li {
        list-style: none;
        color: #FFFFFF;
        text-align: left;
        border-bottom: 1px solid #6a5483;
        width: 100%;
        height: 50px;
        font-family: "Droid Serif", serif;
        font-style: italic;
        padding: 2rem 0 0rem 4rem;
        font-size: 2rem; }
      /* line 93, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      header .navigation ul li:hover {
        background: #412a56; }
    /* line 99, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header .navigation .logIn {
      margin-top: -25px;
      border-top: 1px solid #6a5483;
      background: #523468;
      font-family: "Droid Serif", serif;
      font-style: italic;
      font-size: 2rem;
      height: 50px;
      padding-bottom: 2rem; }
      /* line 109, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      header .navigation .logIn p {
        color: #6a5483; }
        /* line 112, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
        header .navigation .logIn p a {
          color: #FFFFFF; }
  /* line 122, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header #mainNav nav {
    height: 0;
    overflow: hidden; }
  /* line 127, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header #mainNav input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em; }
  /* line 133, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header #mainNav input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: visible; }
  /* line 138, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header #mainNav input[type=checkbox]:checked ~ div.search {
    display: block;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-top: 30px;
    background: #FFFFFF;
    width: 70%;
    height: 45px;
    text-align: right; }
    /* line 151, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header #mainNav input[type=checkbox]:checked ~ div.search input {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: Arial;
      border: 1px solid #656565;
      width: 250px;
      border-radius: 5px;
      padding: 5px 10px;
      height: 40px;
      margin-top: -70px;
      font-size: 1.7rem;
      margin-bottom: 20px; }
  /* line 171, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header #mainNav label.hamb {
    display: block;
    text-indent: -999em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    float: left;
    text-align: center;
    display: inline;
    line-height: .6;
    width: 45px;
    height: 30px;
    margin: 20px; }
    /* line 191, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header #mainNav label.hamb span {
      margin: 0;
      height: 6px;
      width: 45px;
      display: block;
      position: relative;
      background: #523468;
      border-radius: 15px;
      margin-bottom: 4px; }
  /* line 204, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header .logo {
    float: left;
    width: 225px;
    height: 100%;
    line-height: 1.1rem; }
    /* line 210, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header .logo .name {
      padding: 0;
      height: 30px; }
      /* line 214, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      header .logo .name h2 {
        color: #ce2600;
        font-weight: 100;
        font-size: 2.9rem; }
        /* line 219, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
        header .logo .name h2 strong {
          font-weight: 500; }
    /* line 225, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header .logo .since {
      width: 100%;
      display: table;
      text-align: center; }
      /* line 230, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      header .logo .since span {
        background: #523468;
        height: 1px;
        width: 20px;
        display: table-cell;
        margin: 5px 0 5px 15px;
        float: left; }
      /* line 239, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      header .logo .since p {
        color: #51366b;
        font-weight: 100;
        line-height: .1;
        font-style: italic;
        font-family: "Droid Serif", serif;
        display: table-cell; }
      /* line 247, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      header .logo .since span:last-of-type {
        float: right;
        margin: 5px 15px 5px 0; }
  /* line 257, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header .banner {
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
    background: #ececec;
    color: #656565;
    font-family: "Droid Serif", serif;
    font-weight: 100;
    font-style: italic;
    display: table;
    top: 80px;
    vertical-align: top;
    position: absolute; }
    /* line 272, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header .banner p {
      font-size: 2rem;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  /* line 281, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  header div.cart {
    display: table;
    text-align: left;
    background: black;
    width: 60px;
    color: #ececec;
    float: right; }
    /* line 289, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header div.cart div.icon {
      margin: 0 auto;
      text-align: center;
      background: rgba(255, 0, 0, 0.5);
      display: table-cell;
      height: 50px;
      width: 55px;
      position: absolute; }
    /* line 299, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    header div.cart span {
      text-align: center;
      float: right;
      position: absolute;
      bottom: 0;
      color: #b5b3b6;
      margin: 0 3%; }

/* line 311, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
main.container {
  float: none;
  text-align: left;
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
  display: inline-block;
  position: relative;
  padding-top: 140px; }
  /* line 321, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  main.container h3 {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Droid Serif", serif;
    font-size: 3rem; }
  /* line 328, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  main.container .inventory {
    text-align: center; }
    /* line 331, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    main.container .inventory ul {
      padding: 0;
      display: inline-block; }
    /* line 337, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    main.container .inventory ul > li {
      display: inline-grid;
      list-style: none; }
    /* line 348, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    main.container .inventory ul > li > img {
      width: 180px; }
      @media only screen and (min-width: 768px) {
        /* line 348, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
        main.container .inventory ul > li > img {
          width: 300px; } }

/* line 358, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
footer {
  background: #ccc;
  bottom: 0;
  width: 100%;
  margin: 0;
  position: relative;
  padding: .5rem .5rem .5rem 0;
  height: 300px; }
  /* line 367, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  footer p:last-of-type {
    font-family: Arial;
    color: #656565; }
  /* line 372, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  footer .newsletter {
    background: #FFFFFF;
    margin: 20px;
    padding: 1rem 1.4rem 2.5rem 1.4rem;
    height: 100px;
    border-radius: 2px; }
    /* line 379, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    footer .newsletter p {
      font-family: "Droid Serif", serif;
      font-style: italic;
      text-align: left; }
    /* line 385, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    footer .newsletter p:last-of-type {
      font-family: Arial;
      font-style: normal;
      font-weight: 100;
      font-size: 1.4rem; }
    /* line 392, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    footer .newsletter input, footer .newsletter button {
      float: left;
      font-family: "Oswald", sans-serif; }
    /* line 397, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    footer .newsletter input {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: Arial;
      border: 1px solid #656565;
      margin-right: 15px;
      min-width: 200px;
      border-radius: 5px;
      padding: 3px 10px;
      line-height: 2rem;
      font-size: 1.2rem; }
    /* line 414, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    footer .newsletter button {
      border: medium none;
      border-spacing: 0;
      font-weight: normal;
      line-height: 1.42rem;
      list-style: none outside none;
      margin: 0;
      text-align: left;
      text-decoration: none;
      text-indent: 0;
      background: #d43e0b;
      border-radius: 5px;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 8px 20px;
      font-family: Arial;
      font-size: 1.4rem; }
  /* line 441, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  footer .social-media {
    position: relative;
    margin-top: 5rem; }
    /* line 446, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
    footer .social-media ul {
      list-style: none;
      text-align: center;
      padding: 0; }
      /* line 451, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      footer .social-media ul li {
        display: inline;
        margin: auto 15px; }
      /* line 456, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
      footer .social-media ul li img {
        width: 30px; }

/* line 466, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.column {
  float: left;
  width: 25%; }

/* line 471, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75); }

/* line 484, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.modal-content {
  position: relative;
  background-color: #FFFFFF;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 960px; }

/* line 493, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.close {
  color: #000000;
  top: 15px;
  right: 15px;
  font-size: 35px;
  float: right;
  height: 30px;
  width: 30px; }

/* line 504, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

/* line 511, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.mySlides {
  display: none;
  padding-top: 40px; }
  /* line 515, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
  .mySlides img {
    width: 100%; }

/* line 520, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.caption-container {
  text-align: center;
  background-color: #FFFFFF;
  padding: 2px 16px;
  color: #000000; }

/* line 527, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
img.demo {
  opacity: 0.6; }

/* line 531, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.active,
.demo:hover {
  opacity: 1; }

/* line 536, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
img.hover-shadow {
  transition: 0.3s; }

/* line 540, /Users/paulopamplona/Desktop/enext/root/scss/style.scss */
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/*# sourceMappingURL=style.css.map */